img  {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.slide >h3,
.slide > h4 {
  margin-top: 0;
}

.img-center {
  display: block;
  max-width: 70%;
  height: auto;
  margin: 0 auto 0.75em;
}

/*img:not(.cover) + figcaption {
  font-size: 0.5em;
  text-align: center;
}*/

.full-width {
  width: 100%;
  max-width: none !important;
}

.principles {
  font-size: 16px;
  line-height: 1.5;
}

.principles__header {
  font-size: 2em !important;
}

.principles__item {
  margin-bottom: 2.5em;
}

.principles__item-header {
  display: flex;
  margin-bottom: 1em;
}

.principles__img {
  width: 50px;
  height: 50px;
  margin: 0 1.5em 0 0 !important;
}

.conformance-level {
  position: absolute;
  top: 79px;
  right: var(--slide-right-side);
  display: flex;
  align-items: center;
  color: var(--color-key);
}

.conformance-level::before {
  content: '';
  display: block;
  margin-right: 0.5em;
  width: 36px;
  height: 36px;
  background-size: cover;
}

.conformance-level.perceivable::before {
  background-image: url("../pictures/perceivable.svg");
}

.conformance-level.operable::before {
  background-image: url("../pictures/operable.svg");
}

.conformance-level.understandable::before {
  background-image: url("../pictures/understandable.svg");
}

.conformance-level.robust::before {
  background-image: url("../pictures/robust.svg");
}

.btn {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5rem;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
  border: none;
  background: none;
  background-image: none !important;
  cursor: pointer;
  appearance: none;
}

.btn-primary--blue {
  min-width: 6.25em;
  padding: 1em 1.5em;
  color: #fff !important;
  border: .0625em solid currentColor;
  border-radius: 2.75em;
  background-color: #372ccd;
}

.btn-primary--blue:hover {
  background-color: #292393;
}

.btn-primary--blue:active {
  background-color: #2c26ab;
}

.btn-secondary {
  min-width: 6.25em;
  padding: 1em 1.5em;
  background-color: transparent;
  border: .0625em solid currentColor;
  border-radius: 2.75em;
}

.btn-secondary--yellow {
  color: #0b0b2b !important;
}

.btn-secondary--yellow:hover {
  background-color: #f5edc6 !important;
}

.btn-secondary--yellow:active {
  background-color: #fcf4cb !important;
}

.btn-secondary--blue {
  color: #fff !important;
}

.btn-secondary--blue:hover {
   background-color: #292393 !important;
 }

.btn-secondary--blue:active {
   background-color: #2c26ab !important;
 }

.btn-tertiary {
  display: inline-block;
  color: #0b0b2b !important;
  text-align: center;
  text-decoration: underline !important;
  text-underline-offset: 0.375em;
  background: none;
}

.btn-tertiary:hover {
   color: #372ccd !important;
 }

.btn-tertiary:active {
   color: #12123d !important;
 }

.is-bgc-sand-yellow {
  background-color: #fff8dc;
}

.is-bgc-electric-blue {
  background-color: var(--color-key);
}

.border-preview {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.focus:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff,
              0 0 0 4px var(--color-key);
}

.focus-visible:focus {
  outline: none;
}

.focus-visible:focus-visible {
  box-shadow: 0 0 0 2px #fff,
              0 0 0 4px var(--color-key);
}

.vision-item {
  margin-bottom: 0.5em;
}

.vision-title {
  font-weight: 700;
  font-size: 0.75em;
}

.slide--full {
  padding: 0;
}

.slide--full iframe {
  width: 100%;
  height: 100%;
}